.cont1{
	background-color: yellow;
	font-size: 15px;
}
.pochemy{
	background-color: red;
	max-width: 300px;
	color: white;
}
.kartinke{
	display: flex;
	justify-content: center;

}
.otstyp{
	margin-right: 25px;
}
.a1{
	color: red;
}
.cnop1{
	padding: 3px;
	margin: 5px;
	background-color:red;
	border: 1px solid black; 
	border-radius:3px;
	color: white;
	margin-top: 30px;
}
.fut{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.fut2{
	margin-left: 25px;
	position: relative;
}
.fut1{
	position: relative;
}
.ram{
	border: 1px solid black;
	padding: 1px;
}
.ram2{
	border: 4px solid red;
	padding: 35px;
}
.ser{
	background-color: #D3D3D3;
	padding: 8px;
}
.fut3{
	display: flex;
	justify-content: center;
}
.ram1{
	border: 2px solid  #D3D3D3;
}
.fut4{
	margin-right:  20px;
}
.rozgrh{
	background-color: red;
}
.razmer{
	font-size: 15px; 
}
.rozgrh1{
      display: flex;
     justify-content: space-between;
     animation: anima_1 6s infinite linear;

}
@keyframes anima_1 {
	0%{
		box-shadow: 0px 0px 0px black;
	}
	25%{
		box-shadow: 3px 5px 30px #00FF00;

	}
	50%{
		box-shadow: 4px 5px 35px #006400;
	}
	75%{
		box-shadow: 3px 5px 30px #00FF00;
	}
	100%{
		box-shadow: 0px 0px 0px black;
	}
}
.deng{
	padding: 10px;

}
.text1{
	padding: 10px;
	line-height: 80%;
}
.corzina{
	background-color: yellow;
	padding: 20px;
}
.zacaz{
	margin-top: 20px;
	margin-left: 15px;
}
.anceta{
	padding: 10px;
	margin-bottom: 10px;
	background:#D3D3D3;
	box-shadow: 2px 1px 5px black;
	border: none;  
	margin-top: 10px;
	width: 100%;
	max-width: 300px;

}
.anceta3{
	text-align: center;
}
label{
	margin-right:  250px;
}
.pereyti{
	color: white;
	background: green;
	border-radius: 3px;
	padding: 10px

}
hr{
	max-width: 300px;
	border: none;
	box-shadow: 3px 2px 3px  0.5px black;
}
.pomosh{
	position: fixed;
	top: 0;
	right: 0;
	border: 2px solid black;

}
.podarok{
	position: fixed;
	top: 0;
	left: 0;
}
.animate__animated.animate__bounceIn{
     animation-duration: 5s;
     animation-iteration-count: infinite;
}
.anima{
    animation-name: round;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}
@keyframes round{
	0%{
		right: 0%;
		color: red;
	}
	50%{
		color: green;
	}
	100%{
		right:5%;
		color: blue;
	}
}
.anima2{
	animation-name: round2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}
@keyframes round2{
	0%{
		left:  0%;
		color: red;
	}
	50%{
		color: green;
	}
	100%{
		left:  5%;
		color: blue;
	}
}
.animate__animated.animate__headShake{
	animation-iteration-count: infinite;
}
.animate__animated.animate__swing{
	animation-iteration-count: infinite;
}